<!DOCTYPE html>
<html>
<head>
  <title>HU</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
  	div.modal div.modal-backdrop {
    	z-index: 0;
	}
  </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'home/navbar' %>
	
	<%= yield %>

	<%= render 'home/new_question_form' %>

</body>
</html>
